/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    color: rgba(211, 211, 211, 0.5);
    font-size: 11px;
    font-weight: 600;
}

/* MAIN RULES */

    /* TOP RULES  */
    /* SIDEBAR RULES */
#top {
    display: flex;
}

#sidebar {
    width: 200px;
    height: calc(100vh - 100px);
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo, #playlist {
    padding: 20px;
}

.logo {
    height: 75px;
}

#logo-small {
    display: none;
}

#sidebar ul {
    list-style: none;
}

#navbar li {
    padding: 5px 20px;
}

#navbar li:first-child {
    border-left: 3px solid greenyellow;
    padding: 5px 17px;
}

#navbar img {
    height: 25px;
    vertical-align: middle;
}

#sidebar ul li a {
    text-decoration: none;
    color: rgba(211, 211, 211, 0.5)
}

#playlist {
    overflow-y: auto;
    height: 100%;
}

#playlist ul > strong {
    color: white;
}

#playlist li {
    padding: 7px 0;
}

#new-playlist span {
    vertical-align: middle;
    font-size: 3rem;
}

#new-playlist a {
    font-size: 1.2rem;
}

#install {
    padding: 5px 20px;
}

#install-btn {
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
    padding-bottom: 10px;
}

#user {
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    padding-top: 10px;
}

#user span:first-child {
    display: inline-block;
    position: relative;
    height: 25px;
    width:25px;
    border-radius: 100%;
    background-color: gray;
    vertical-align: middle;
}

#user img {
    height: 20px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

    /* MAIN-CONTENT RULES */

#main-content {
    height: calc(100vh - 100px);
    overflow-x: hidden;
    overflow-y: auto;
    /* DEBUG */
    width: calc(100vw - 200px);
}

#premium {
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    left: 200px;
    /* DEBUG */
    background-color: rgb(0, 0, 0, 0.5);
}

#wrapper {
    /* DEBUG */
    width: 100%;
    background-color: green;
    min-height: 6000px;
}

#wrapper div {
    padding: 150px;
}

    /* BOTTOM RULES */
#bottom {
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 200px;
    min-width: 150px;
}

#song-cover img {
    padding: 10px;
    height: 60px;
}

#interaction {
    padding: 5px;
    font-size: 1.5rem;
}

#song {
    font-size: 1.2rem;
    color: white;
}

#interaction span {
    padding: 5px;
}

#center {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    max-width: 400px;
}

#media-controls {
    min-width: 150px;
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color:white;
}

#play-btn {
    font-size: 3rem;
}

#media-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    width: 100%;
}

.time {
    min-width: 30px;
    color: white;
    font-weight: 700;
}

.passed {
    text-align: end;
}

.time-bar {
    width: 100%;
    height: 3px;
    background-color: rgba(211, 211, 211, 0.11);
}

.progress {
    width: 25%;
    height: 3px;
    background-color: rgba(211, 211, 211, 0.507);
}

#right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    gap: 5%;
    min-width: 150px;
    max-width: 250px;
    padding: 10px;
}

.icons {
    color: white;
    font-size: 1.3rem;
}


/* PHONE VERSION */
@media screen and (max-width: 480px) {
    /* SIDEBAR RULES */
    #sidebar {
        width: 50px;
    }

    .phone {
        display: none;
    }

    #logo-small, #navbar li, #install {
        padding: 5px 10px;
        text-align: center;
    }

    #navbar li:first-child {
        border-left: 0;
        padding: 5px 10px;
    }

    #logo-small {
        display: block;
        height: 50px;
        width: 50px;
    }

    #install-btn {
        border-bottom: 0;
        padding-left: 6px;
    }

    /* MAIN-CONTENT RULES */
    #main-content {
        /* DEBUG */
        width: calc(100vw - 50px);
    }

    #premium {
        left: 50px;
    }
}
