/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* MAIN RULES */

    /* TOP RULES  */
#top {
    display: flex;
}

#sidebar {
    width: 200px;
    height: calc(100vh - 100px);
    /* DEBUG */
    background-color: yellow;
}

#main-content {
    height: calc(100vh - 100px);
    overflow-x: hidden;
    overflow-y: auto;
    /* DEBUG */
    width: calc(100vw - 200px);
}

#premium {
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    left: 200px;
    /* DEBUG */
    background-color: rgb(0, 0, 0, 0.5);
}

#wrapper {
    /* DEBUG */
    width: 100%;
    background-color: green;
    min-height: 6000px;
}

#wrapper div {
    padding: 150px;
}

    /* BOTTOM RULES */
#bottom {
    height: 100px;
    background-color: red;
}

/* PHONE VERSION */
@media screen and (max-width: 480px) {
    #sidebar {
        width: 75px;
    }

    #main-content {
        /* DEBUG */
        width: calc(100vw - 75px);
    }

    #premium {
        left: 75px;
    }
}
